
.employee-list-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  
  .employee-list-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  
  /* Arama ve Filtreleme */
  .search-input, .department-filter {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  
  .employee-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .employee-item:last-child {
    border-bottom: none;
  }
  
  /* Çalışan Bilgileri */
  .employee-info {
    font-size: 16px;
    color: #555;
  }
  
  .employee-info p {
    margin: 5px 0;
  }
  
  
  .update-button {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #0b7734bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .update-button:hover {
    background-color: #074b23;
  }

  .detail-button-list {
    padding: 8px 12px;
    background-color: #800B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .detail-button-list:hover {
    background-color: #7a0f26
  }
  
  /* Mobil Uyum */
  @media (max-width: 600px) {
    .employee-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .detail-button {
      width: 100%;
      margin-top: 10px;
    }
    .update-button {
        width: 100%;
        margin-top: 10px;
      }
  }
  