.dashboard-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

.dashboard-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.dashboard-section {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

.dashboard-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.dashboard-button {
    padding: 10px 15px;
    background-color: #800B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .dashboard-button:hover {
    background-color: #7a0f26
  }

  .button-izin{
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #800B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .button-izin:hover {
    background-color: #7a0f26
  }
  
  

  /* Mobil Uyum */
  @media (max-width: 600px) {
    .dashboard-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .dashboard-container button {
      width: 100%;
      margin-top: 10px;
    }
  }